*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 247, 208);
    height: 100vh;
    width: 100%;
    font-family: "poppins";
}

#form-title, .form-subtitles{
    margin-bottom: 1rem;
}

input{
    width: 100%;
    padding: 8px;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid rgb(55, 95, 25);
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

input::placeholder{
    color: black;
    opacity: 0.3;
}

#form-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color: #fff;
}

form{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnCadastro{
    padding: 0.5rem 2rem; 
    border-radius: 0.5rem;
    font-weight: 600;
    font-family: "poppins";
    margin-top: 1rem;
    border: 2px solid rgb(55, 95, 25);
    cursor: pointer;
}

#msgCadastro{
    margin-top: 2rem;
    display: block;
}

.msgSucesso{
    color: green;
}

.msgErro{
    color: red;
}